<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{title}}!
  </h1>
  <myDetails name="amit" occupation="UI developer"></myDetails>
  <myDetails name="admin" occupation="System Admin"></myDetails>
  <myDetails name="rohit" occupation="student"></myDetails>
  <myDetails></myDetails>


  Elements currently in array
  <br />
  <br /> {{myArr.join(",")}}

  <br />
  <br />
  <button (click)="myArr.push(math.floor(math.random()*100+1))">Click to add random number to array</button>

  <br />
  <br /> Elements removed from the array
  <br />
  <br /> {{removedArr.join(',')}}
  <br />
  <button (click)="removedArr.push(myArr.shift())">Click to remove first number from array</button>
  <br />
  <br /> Largest number removed from the array is 
  <strong>{{math.max.apply(null,removedArr)}}</strong>
</div>


{{title2| calmdown:'****'}}